/* 
Variables 
Colors used here taken from Tailwind palette https://tailwindcolor.com/
*/

/* prettier-ignore */
:root {
	--main   : #000000; /* Black */
	--main-bg: #FFFFFF; /* White */

	--bg          : #ffffff;  /* White */
	--bg-error    : #fef2f2;  /* Red 50 */
	--bg-scrollbar: #ffffff;  /* White */
	--bg-tooltip  : #000000;  /* Black */

	--fg          : #000000;  /* Black */
	--fg-disabled : #FFFFFF;  /* White */
	--fg-tooltip  : #ffffff;  /* White */

	--border      : #000000;  /* Black */
	--border-focus: var(--main);

	--bg-active   : var(--main-bg);
	--fg-active   : var(--main);
	--border-focus: var(--main);
	--bg-overlay  : rgba(0, 0, 0, 0.5);

	--z-tooltip: 900;
	--z-dialog : 904;
}

/* prettier-ignore */
.dark {
	--main   : #FFFFFF; /* White */
	--main-bg: #000000; /* Black */

	--bg          : #000000;  /* Black */
	--bg-error    : #7f1d1d;  /* Red 900 */
	--bg-scrollbar: #000000;  /* Black */
	--bg-tooltip  : #ffffff;  /* White */
	
	--fg          : #ffffff;  /* White */
	--fg-disabled : #000000;  /* Black */
	--fg-tooltip  : #000000;  /* Black */
	
	--border      : #ffffff;  /* White */
	--border-focus: var(--main);
	
	--bg-active   : var(--main-bg);
	--fg-active   : var(--main);
	--border-focus: var(--main);
	--bg-overlay  : rgba(0, 0, 0, 0.7);
}

/* Font */
@font-face {
	font-family: 'Inter';
	src: url('fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
	font-weight: 100 900;
}

@font-face {
	font-family: 'KFGQPC-HAFS';
	src: url('fonts/KFGQPC-HAFS.woff2') format('woff2');
}

/* Global styling */
* {
	min-width: 0;
	min-height: 0;
	border-width: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Inter', sans-serif;
	font-feature-settings: 'liga';
	outline: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

html {
	font-size: 14px;
	color: var(--fg);
	background-color: var(--bg);
	font-variation-settings: 'wght' 600;
}

body {
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
	font-variation-settings: 'wght' 600;
}

/* Scrollbar (we put it here in global since Svelte remove prefixed CSS) */
[data-scrollbar] {
	overflow: auto;
	scrollbar-color: var(--bg-scrollbar) transparent;
}

[data-scrollbar]::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

[data-scrollbar]::-webkit-scrollbar-track {
	background: transparent;
}

[data-scrollbar]::-webkit-scrollbar-thumb {
	border-radius: 6px;
	border: 3px solid var(--bg);
	background: var(--bg-scrollbar);
}

[data-scrollbar]::-webkit-scrollbar-corner {
	background: transparent;
}
